<h1>Users</h1>

<table class="table table-bordered table-hover">
    <thead class="table-dark" style="text-align: center;">
      <tr>
        <th>User Id</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr style="text-align: center;">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
      <% end %>
    </tbody>
  </table>