<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
				<div class="card-body" style="background-color: #e3f2fd;">
					<h5 class="card-title">Seller</h5>
					<%= link_to"Sign up", new_seller_url, class:"btn btn-outline-dark", style:"color:green"%>
					<%= link_to"Show seller", sellers_url, class:"btn btn-outline-dark", style:"color:green"%>
				</div>
			</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
				<div class="card-body" style="background-color: #e3f2fd;">
					<h5 class="card-title">Manager</h5>
					<%= link_to"Sign up", new_manager_url, class:"btn btn-outline-dark", style:"color:green"%>
          <%= link_to"Show manager", managers_url, class:"btn btn-outline-dark", style:"color:green"%>
				</div>
			</div>
    </div>
  </div>
</div>